@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-custom {
    background-color: #003366;
    height: 56px;
}

.nav-logo {
    font-size: 2em;
    font-weight: 900;
    margin-left: 5px;
    margin-top: 5px;
    color: black;
}

.navbar-header {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    font-family: "Roboto Slab", serif;
}

.navbar-header img {
    height: 65px;
    width: 65px;
}

.nav-label,
.nav-input {
    display: none;
    color: black;
}

.nav-menu {
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    margin-left: auto;
}

.nav-item {
    list-style-type: none;
    margin-right: 15px;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);


}

.nav-item::after {
    content: "";
    display: block;
    background-color: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}

.nav-item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);

}

.nav-item a {
    text-decoration: none;
    list-style: none;
    color: black;
    list-style-type: none;
}

@media screen and (max-width:412px) {
    .navbar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }

    .nav-label {
        display: block;
        cursor: pointer;
        font-size: 1.5em;
        margin-right: 1px;
    }

    .nav-input {
        margin-right: 2px;
    }

    .nav-logo {
        margin-left: 0;
        /* Remueve el margen para ajustar hacia la izquierda */
        flex-grow: 1;
        /* Ocupará el espacio disponible a la izquierda */
        text-align: left;
        /* Asegura que esté alineado a la izquierda */
    }

    .nav-menu {
        margin-left: auto;
        position: fixed;
        top: 56px;
        bottom: 0;
        background-color: #B3D9FF;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
    }

    .nav-input:checked+.nav-menu {
        clip-path: circle(100% at center);
    }

}