@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: poppins static ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-custom{
    background-color: rgb(61, 94, 236);
    height: 56px;
}
.nav-logo{
    font-size: 2em;
    font-weight: 900;
    margin-left: 5px;
    color: black;
}
.navbar-header{
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav-label, .nav-input{
    display: none;
}
.nav-menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
    margin-left: auto;
}
.nav-item{
    list-style-type: none;
    margin-right: 15px;
    --clippy:polygon(0 0, 0 0, 0 100%, 0% 100%);


}
.nav-item::after{
    content: "";
    display: block;
    background-color: white;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .3s;
}
.nav-item:hover{
    --clippy:polygon(0 0, 100% 0, 100% 100%, 0 100%);

}
.nav-item a{
    text-decoration: none;
    list-style: none;
    color: black;
    list-style-type: none;
}
@media(max-width:700px){
    .navbar-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
    }
    .nav-label{
        display: block;
        cursor: pointer;
        font-size: 1.5em;
        margin-right: 10px;
    }
    .nav-logo{
        margin-left: 0; /* Remueve el margen para ajustar hacia la izquierda */
        flex-grow: 1; /* Ocupará el espacio disponible a la izquierda */
        text-align: left; /* Asegura que esté alineado a la izquierda */
    }
    .nav-menu{
        margin-left: auto;
        position: fixed;
        top: 56px;
        bottom: 0;
        background-color: aquamarine;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
    }
    .nav-input:checked + .nav-menu{
        clip-path: circle(100% at center);
    }
    
}